*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ----------- MENU ----------- */

.menu{
    background-color: #000;
    display: flex;
    justify-content:space-around;
    opacity: .8;
    position: sticky;
    top: 0;
}
#logo-apple{
    font-size: 30px;
    color: #999;
    margin: 15px;
    transition: .5s;
}
.menu-link{
    flex-grow: .5;
}
.container{
    display: flex;
    justify-content: space-between;
}
.items{
    margin: 15px;
    list-style: none;
    padding-top: 5px;
    font-size: 17px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
.link{
    text-decoration: none;
    color: #ccc;
    transition: .3s;
}
.active{
    color: #fff;
}
#logo-apple:hover,.link:hover{
    color: #fff;
}

/* ------------ section 1 ----------- */

.section-1{
    width: 100%;
    background-color: #eee;
}
.section-1 .new{
    color: #f56300;
    border-color: #bf4800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    display: block;
    padding-top: 10vh;
}
.section-1 .titulo{
    display: block;
    padding-bottom: 7vh;
    font-size: 56px;
    text-align: center;
    letter-spacing: -.005em;
    font-family: Arial, Helvetica, sans-serif;
}
.section-1 .pregunta{
    display: block;
    text-align: center;
    font-size: 48px;
    letter-spacing: -.003em;
    font-family: Arial, Helvetica, sans-serif;

}
.section-1 .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-1 .container .items{

}
.section-1 .container .items .macbook-air{

}
.section-1 .container .items .macbook-pro-13{

}
.section-1 .container .items .macbook-pro-16{

}
.section-1 .container .items .title{
    font-size: 24px;
    text-align: center;
    margin-top: 5vh;
    font-family: Arial, Helvetica, sans-serif;
}
.section-1 .container .items .precio{
    font-size: 14px;
    margin-top: 3vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.section-1 .container .items .boton-comprar{
    display: block;
    margin: auto;
    margin-top: 3vh;
    background-color: #0071e3;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    min-width: 23px;
    font-weight: 400;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #fff;
    cursor: pointer;    
}
.section-1 .container .items .boton-comprar:hover{
    background-color: #0081e3;
}
.section-1 .container .items .pulgadas{
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: .011em;
    text-align: center;
    margin-bottom: 4px;
}

width: 48px;
    height: 44px;









.espacio{
    width: 100%;
    height: 100vh;
}

/* ------------ footer ------------ */
.footer{
    width: 100%;
    height: 50vh;
    background-color: #d5d5d7;

}
.footer .container{
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    width: 100%;
}
.footer .container .compra h3{
    font-family: Arial, Helvetica, sans-serif;
    color:#444;
    font-size: 30px;
    margin-top: 30px;
}
.footer .container .compra ul{
    list-style-type: none;
}
.footer .container .compra li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer .container .compra a{
    text-decoration: none;
    color: #515154;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.footer .container .compra a:hover{
    text-decoration: underline;
}
.footer .container .servicio h3{
    font-family: Arial, Helvetica, sans-serif;
    color:#444;
    font-size: 30px;
    margin-top: 30px;
}
.footer .container .servicio ul{
    list-style-type: none;
}
.footer .container .servicio li{
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer .container .servicio a{
    text-decoration: none;
    color: #515154;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.footer .container .servicio a:hover{
    text-decoration: underline;
}


.footer .container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;

}
.derechos{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
